*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
}

div {
    text-align: center;
    margin: 50px 300px;
}

h1 {
    font-weight: bold;
    border: solid;
    color: white;
}


.button {
    background-color: lightblue;
    border-radius: 5px;
}